*.pyc
*.bak
/jsonpickle/*.so
/jsonpickle/*.html
/jsonpickle/*.c
/jsonpickle/*.h
*.coverage
/cover
/htmlcov
*.egg-info
*.swp
*.project
*.pydevproject
/.settings
*#*
*~
*.tar.gz
/build
/dist
/env*
/tags
