include COPYING README.rst MANIFEST.in
include Rakefile
include *.py
include jsonpickle/*.py
include tests/benchmark.py
recursive-include docs *
recursive-include jsonpickleJS *
include *.txt
recursive-include jsonpickle *.pyx *.pxd *.c
